
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(12,57,83);
  background: rgb(0, 121, 191);
}

/*************** NAV BAR ***************/
.nav-wrapper {
  margin: -8px -8px 8px -8px;
}

nav.top-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  background-color: rgba(1, 1, 1, 0.3);
}

nav div div .fas, nav div div .fab, nav div div .far {
  color: rgb(255, 255, 255);
  /* font-size: 18px; */
}

.top-nav-group-1, .top-nav-group-2, .top-nav-group-3 {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.top-nav-group-2 {
  margin-left: -150px;
}

.top-nav-group-1 a, .top-nav-group-2 a, .top-nav-group-3 a, div.bottom-nav-menu, div.bottom-nav-menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.top-nav-group-1 div, .top-nav-group-3 div {
  margin-right: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 7px 7px;
}

.top-nav-group-3 div {
  padding: 10px 9px 0px 9px;
}

.top-nav-group-1 div:hover, .top-nav-group-3 div:hover  {
  background-color: rgba(255, 255, 255, 0.2);
}

/* .home-icon, .boards, .search {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 5px 8px;;
} */

.home-icon {
  padding: 4px 7px;;
}

.boards .fab  {
  font-size: 18px;
}

.boards a p, .logo a p{
  display: inline;
  font-size: 14px;
  font-weight: 700;
}


div.logo a .fa-trello{
  font-size: 22px;
  color: rgba(255, 255, 255,0.3)
}

.logo a p {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rock Salt', cursive;
  font-family: 'Homemade Apple', cursive;
  font-size: 20px;
  color: rgba(255, 255, 255,0.3)
  }

 div.logo a .fa-trello:hover, div.logo a p:hover {
    color: rgb(255, 255, 255);
  }
  
div.search {
  width: 165px;
  text-align: right;
}

div.search:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

div.profile {
  background-color: transparent;
  margin-right: -8px;
  margin-left: -10px;
  margin-top: -8px;
}

div.profile:hover {
  background-color: transparent;
}
  

.fa-user-circle {
font-size: 30px;
}

div.bottom-nav-menu {
  display: flex;
  flex-direction: row;
  height: 45px;
  background-color: rgba(1, 1, 1, 0.1);
  padding-bottom: 5px;
}

.board-title {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 700;
}

.star {
  font-size: 11px; 
  padding-top: 12px;
  margin: 6px 0 6px 0;
  border-radius: 4px; 
}
.star a {
  padding: 0 11px 0 11px;
 
}

.vl {
  border-left: 1px solid rgba(255, 255, 255,0.2);
  height: 18px;
  padding-left: 15px;
  margin-top: 15px;
}

span.vl.line {
  margin-left: 15px !important;
}
.board-name-option {
  font-size: 14px;
  margin-right: 15px;
  padding: 0 7px;
  margin: 9px 0 6px 0;
  border-radius: 4px;
}
.board-name-option a p, .team-visible  a p, .share p, .show-menu p, #show-menu-link{
  margin-top:7px;
}

.board-name-option span {
  font-size: 11px;
  margin-left: 4px;
  background: rgba(255, 255, 255, 0.3);
  padding: 2px 7px;;
  border-radius: 25px;
}

.team-visible {
  font-size: 14px;
  margin-right: 15px;
  padding: 0 7px;
  margin: 9px 0 6px 0;
  border-radius: 4px;
}

.fa-users {
 font-size: 11px;
 padding-right: 4px;
}

.users .fa-user-circle {
border: 1px solid rgba(1, 1, 1, 0.2);
color: rgba(255, 255, 255, 0.7);
border-radius: 50%;
margin-top: 10px;
font-size: 25px;
}

.users .fa-user-circle:hover {
  background-color: rgba(255, 255, 255, 0.4);
  }

.users .fa-user-circle:nth-child(2){
margin-left: -8px;
}

.number {
  margin-top: 11px;
  padding: 7px 9px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 11px;
  margin-left: -6px;
  margin:11px 12px 10px -6px;
}

.number:hover {
  background-color: rgba(1, 1, 1, 0.3);
}

.share{
  font-size: 14px;
  padding: 0 7px;
  margin: 9px 0 6px 0;
  border-radius: 4px;
}

/*  NOTE: SETTINGS FOR SHOW_MENU_LINK */
#show-menu-link  {
  font-size: 14px;
  padding: 10px 7px;
  color: rgb(255, 255, 255);
  margin-right: 20px;
  border-radius: 4px;
}

.star:hover, .board-name-option:hover, .team-visible:hover, .share:hover, #show-menu-link:hover {
  background-color: rgba(1, 1, 1, 0.3);
}

/*************** SLIDEOUT MENU STYLES ***************/
#menu-container {
  height: 600px;
  width: 300px;
  float: right;
  padding: 20px;
  margin: 0;
  background-color: #dfe3e6;
}
#menu-container a, #show-menu-link a {
  text-decoration: none;
  color: inherit;
}
#show-menu-link {
  float: right;
}
#menu-options {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
#menu-options li {
  padding-top: 10px;
}
.header-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.header-container li {
  display: inline-block;
  padding: 5px 5px;
}
.back-arrow {
  float: left;
}
.close-button {
  float: right;
}
.change-background-tile {
  border: none;
  width: 137.5px;
  height: 100px;
  border-radius: 7px;
  /* padding: 5px 5px; */
  margin: 5px 5px;
  background-size: cover;
  background-repeat: no-repeat;
}
.change-background-tile:focus {
  outline: none;
}
.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*************** CREATE LIST ***************/

#listWrapper {
  display: flex;
  flex-direction: row;
}

.listTextAreaContainer, .listContainer, #newListDiv{
  /* padding-top: 6px; */
  /* padding-bottom: 5px; */
  width: 280px;
  background-color: rgb(237, 239, 240);
  border-radius: 3px; /*** for rounded corners ***/
  vertical-align: top;
  display: flex;
  flex-direction: column;
}

/* #listTextAreaContainer1 {
  margin-left: 10px;
  background-color: red;
  display: block;
  z-index: 2;
} */


#newListDiv {
  margin-left: 10px;
  background-color: red;
  width: 200px;
  /* height: 200px; */
} 

/* #listTextArea {
  width: 50%;
}

#list-link-container {
 width: 50%;
} */

.listContainer {
  display: none;
}

#list-link-container a{
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 3px; /*** for rounded corners ***/
}

a#addListLink, a#addAnotherListLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(1, 1, 1, 0.3);
  padding-left: 10px;
}

a#addListLink:hover, a#addAnotherListLink:hover {
  background-color: rgba(1, 1, 1, 0.4);
}

.listContent {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.listHeaderContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  /* height: 30px; */
}
/* .listHeaderContainer h2{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 6px;
} */

#listTitle {
  /* padding-left: 10px; */
  width: 87%;
}

#ellipsisContainer {
  /* margin-left:80px; */
  width: 13%;
  vertical-align: middle;
  border-radius: 3px; /*** for rounded corners ***/
}

#ellipsisContainer:hover {
  background-color: rgba(214,218,220, 0.5);
}
#ellipsisContainer a {
  vertical-align: middle;
  margin-left: 12px;
  text-align: center;
  text-decoration: none;
  color: rgb(12,57,83);
}
.fa-ellipsis-h {
  font-size: 12px;
  margin-top: 15px;
}

/*** Card container ***/
.cardContainer {
  max-width: 100%;
}

/*************** ADD - DELETE - EDIT CARDS ***************/

/*** Adding shadows for card effect ***/
#newCard {
  margin: 10px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px; /*** for rounded corners ***/
  /* padding: 1px 20px; */
  background-color: rgb(255, 255, 255);
  min-height: 18px;
  font-size: 14px;
  word-wrap: break-word;
  padding: 8px 10px;
}

#newCard:hover {
  background-color: rgb(248, 249, 249);
}

/* textarea { */
#textAreaTitle, #textAreaTitle2, #userInput {  
  outline: none; /* Removes the blue glow from around textarea */
  /* resize: none; Removes resize handle  */
  margin: auto;
  /* width: 210px; */
  width: 86%;
  height: 50px;
  /* min-height: 18px; */
  max-height: 120px;
  padding: 10px;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px;
  display: block;
  word-wrap: break-word;
  /* overflow: hidden; */
}

#textAreaTitle, #textAreaTitle2 {  
  outline: auto;
  outline-color: rgb(2,106,167);
  height: 20px;
  max-height: 120px;
  border: none;
  margin-top: 4px;
}
#textAreaTitle {
  margin-top: 6px;
  height: 16px;
}

#textAreaTitle2 {
  outline: none; 
  box-shadow: 0 2px 0px 0 rgb(237, 239, 240);
  resize: none; /* Removes resize handle  */
  color: rgb(12,57,83);
  font-weight: bold;
  background-color: transparent;
  word-wrap: break-word;
}

#textAreaTitle2:focus {
  outline: auto;
  outline-color: rgb(2,106,167);
  resize: auto;
  color: rgb(12,57,83);
  background-color: rgb(255, 255, 255);
}

.addCardBtn {
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 8px 13px;
  background-color: rgb(90, 172, 68);
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px; /*** for rounded corners ***/
  margin-top: 10px;
  margin-left: 10px;
}

button {
  outline: none; /* Removes the blue glow from around textarea */
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 8px 13px;
  background-color: rgb(90, 172, 68);
  box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.2);
  border: none;
  border-radius: 3px; /*** for rounded corners ***/
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#createNewCloseBtn {
  color: rgb(131, 140, 145);
  font-size: 20px;
  margin-left: 10px;
}

a#addCardLink,
a#addAnotherCardLink {
  padding-left: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: rgb(131, 140, 145);
}

a#addAnotherListLink, a#addAnotherCardLink {
  display: none;
}

a#addCardLink:hover,
a#addAnotherCardLink:hover {
  text-decoration: underline;
  color: rgb(51, 51, 51);
}

.card-link-container a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-right-radius: 3px; /*** for rounded corners ***/
  border-bottom-left-radius: 3px; /*** for rounded corners ***/
}

.card-link-container a:hover {
  background-color: rgba(131,140,145, 0.2);
  background-color: rgba(214,218,220, 0.5);
}